header {
   position:fixed;
   width: 100%;
   top: 0%;
   left: 0%;
   z-index: 1000;
   background-color: #FFFF;
   margin: 0;
   box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.line {
   position:fixed;
   width: 100%;
   max-height: 5px;
   top: 106px;
   left: 0%;
   z-index: 1000;
   background-color: #FFCB2D;
   color:#FFCB2D;
}

.back {
   position: fixed;
   top: 20px;
   left: 20px;
   z-index: 1000;
   border-radius: 50%;
   border:none;
   background-color: #FFDB70;
   color:#FFDB70;
   padding: 3px 7px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

button {
   all:unset;
}

.addtocart {
    background-color: #ffffff;
    color: black;
    padding: 18px;
    border-radius:16px;
    border: 4.5px solid #FFCB2D;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 245px;
    margin: auto;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 }

 .addtocart:hover, .addtocart:active {
    background-color:#c5c5c5 ;
 }

 body {
    text-align: center;
    background-color: #FFDB70;
 }

 .desc {
   padding-top: 150px;
   width: 35%;
   margin-left: 55%;
   text-align: left; 
 }

 .addtocart {
   text-align: left; 
   right: 0;
   margin-top: 20%;
   margin-left: 30%;
 }

 .menu {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 18px;
    border-radius:16px;
    border: 4.5px solid #ffbf00;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 260px;
    margin-top: 120px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 }

 .menu:hover, .menu:active {
   background-color:#e0b229 ;
}

 a {
   text-decoration: none;
   color: black;
 }

 p {
   font-size: larger;
   margin-top: 30px;
 }

 .price {
   font-size: smaller;
 }

 .cart-icon{
   position: absolute;
   z-index: 1000;
   top: 30px;
   right: 40px;
 }

 #cart-count {
   position: absolute;
   z-index: 1000;
   top: -10px;
   right: -10px;
   
   background-color: #ff2929;
   color: white;
   border-radius: 50%;

   width: 18px;
   height: 18px;
   font-size: 10.5px;

   display: flex;
   align-items: center;
   justify-content: center;
 }

 