header {
    position:fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(red, green, blue, alpha);
}

.topnav {
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.back {
   position: fixed;
   top: 20px;
   left: 20px;
   z-index: 1000;
   
}

button {
    border-radius: 50%;
    border:none;
    background-color: #FFDB70;
    color:#FFDB70;
    padding: 3px 7px;
}

h1 {
  padding-top: 7px;
}

ul li {
   margin-top: 0px;
   float: left;
   list-style-type: none;
   padding: 0;
}

td {
    text-align: center;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    padding-bottom: 20px;
}

ul li a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 5px 16px;
text-decoration: none;
list-style-type: none;
margin: 0;
}

ul li a:hover {
background-color: #e5e5e5;
}

body {
    margin-top: 11%;
    text-align: center;
}

h5 {
    font-size: large;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    margin-bottom: 70px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8ps rgba(red, green, blue, alpha);
}

.card:hover {
    background-color: #d4d4d4;
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(red, green, blue, alpha);
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.description {
    font-size: 14px;
    opacity: 0.8;
}
